@import "../../../styles.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid darken($color: $secClr, $amount: 50%);
  padding-bottom: 10px;
  a {
    text-decoration: none;
    color: $mainClr;
    h1 {
      font-size: 2rem;
      margin: 0;
    }
  }
  .main-nav {
    display: flex;
    align-items: center;
    gap: 15px;
    a {
      filter: grayscale(1);
      text-decoration: none;
      color: darken($color: $mainClr, $amount: 10%);
      font-weight: 600;
      &:hover {
        filter: none;
        color: darken($color: $secClr, $amount: 10%);
        text-shadow: 0 0 2px #333;
      }
    }
    .active {
      filter: none;
      color: darken($color: $mainClr, $amount: 10%);
      text-shadow: 0 0 2px darken($color: #ccc, $amount: 10%);
    }
  }

  @media (max-width: $breakpoint-mobile) {
    .main-nav {
      gap: 5px;
      a {
        font-size: 0.5rem;
      }
    }
  }
}
