@import "../../../styles.scss";

.cocktails {
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
      span {
        cursor: pointer;
        padding-right: 0.7rem;
        color: $secClr;
        &::before {
          font-family: "FA-solid";
          content: "\f055";
          font-size: 2rem;
        }
        transition: 0.3s;
        &:hover {
          text-shadow: 0 0 2px #333;
          color: lighten($color: $secClr, $amount: 10%);
          transform: scale(110%);
          transition: 0.3s;
        }
      }
    }
  }
}
