<section *ngIf="form" class="cocktail-edit">
  <h1>Cocktail edit</h1>
  <form [formGroup]="form">
    <div class="form-container">
      <div class="cocktail-img">
        <img [src]="imgUrl.valid ? imgUrl.value : cocktail.strDrinkThumb" />
        <input
          type="url"
          formControlName="imgUrl"
          placeholder="Image URL"
        />
        <small *ngIf="imgUrl.invalid&&imgUrl.touched">Image URL is required.</small>
      </div>
      <div class="cocktail-info">
        <div>
          <label for="name">Cocktail name:</label>
          <div class="flex column">
          <input
            id="name"
            type="text"
            formControlName="cocktailName"
            autocomplete="off"
            placeholder="Cocktail name"
          />
          <small *ngIf="name.invalid&&name.touched">Cocktail name is required. Minimum 3 chars.</small>
          </div>
        </div>
        <div>
          <label for="glass">Cocktail glass:</label>
          <div class="flex column">
          <input
            id="glass"
            type="text"
            formControlName="glass"
            autocomplete="off"
            placeholder="Cocktail glass type"
          />
          <small *ngIf="glass.invalid&&glass.touched">Glass type is required. Minimum 3 chars.</small>
          </div>
        </div>
        <div>
          <label>Cocktail ingredients:</label>
          <div formArrayName="ingsList">
            <div *ngFor="let ing of ingsList.controls; let idx = index" [formGroupName]="idx">
              <input
                id="{{ 'msr' + (idx + 1) }}"
                class="measure"
                type="text"
                autocomplete="off"
                formControlName="measure"
                placeholder="{{ 'Cocktail measure ' + (idx + 1) }}"
              />
              <input
                id="{{ 'ing' + (idx+1) }}"
                type="text"
                autocomplete="off"
                minlength="3"
                formControlName="ing"
                placeholder="{{ 'Cocktail ingredient ' + (idx+1) }}"
              />
            </div>
            <small *ngIf="ing.invalid && ing.touched">Ingredient is required. Minimum 3 chars.</small>
            <button (click)="addIngRow()" 
            [disabled]="ing.invalid"
            >
              Add ingredient
            </button>
          </div>
        </div>
        <div>
          <label for="ins">Instructions:</label>
          <div class="flex column">
          <textarea
            id="ins"
            rows="3"
            formControlName="ins"
            placeholder="Instructions"
          ></textarea>
          <small *ngIf="ins.invalid&&ins.touched">Instructions are required. Minimum 5 chars.</small>
        </div>
        </div>
      </div>
    </div>
    <button [disabled]="form.invalid||form.pristine" (click)="save()">Save</button>
  </form>
</section>
