/* You can add global styles to this file, and also import other style files */
$bgColor: #412d47;
$mainClr: rgb(233, 203, 68);
$secClr: rgb(216, 93, 210);

body {
  padding: 15px;
  background-color: $bgColor;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  * {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $mainClr;
    }
    &::selection {
      background-color: darken($color: $bgColor, $amount: 30%);
      color: rgb(75, 74, 74);
    }
  }
}

[ng-reflect-router-link] {
  cursor: pointer;
  &:hover {
    text-shadow: 0 0 2px #333;
  }
}
ul {
  list-style: none;
}

hr{
  color: darken($color: $secClr, $amount: 30%);
}

[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  appearance: none;
  border: 1px solid #34495e;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: $secClr;
  cursor: pointer;
  &:checked {
    border: 1px solid $secClr;
    background-color: #34495e;
    &::before {
      content: "\2713";
      display: flex;
      align-items: center;
      justify-content: center;
      color: #41b883;
      line-height: 1rem;
    }
  }
}

@font-face {
  font-family: FA-solid;
  src: url("./assets/fonts/FA/fa-solid-900.ttf");
}
@font-face {
  font-family: FA-regular;
  src: url("./assets/fonts/FA/fa-regular-400.ttf");
}

$breakpoint-tablet: 768px;
$breakpoint-mobile: 360px;
