/* You can add global styles to this file, and also import other style files */
body{
    padding: 15px;
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    *::selection{
        background-color: rgb(250, 191, 115);
        color: rgb(75, 74, 74);
    }
}

[ng-reflect-router-link]{
    cursor: pointer;
    &:hover{
        text-shadow: 0 0 2px #333;
    }
}
ul{
    list-style: none;
}

[type="checkbox"]{
    height: 1rem;
    width: 1rem;
}

@font-face{
    font-family: FA-solid;
    src: url('./assets/fonts/FA/fa-solid-900.ttf');
}
@font-face{
    font-family: FA-regular;
    src: url('./assets/fonts/FA/fa-regular-400.ttf');
}

$breakpoint-tablet: 768px;
$breakpoint-mobile: 360px;
