@import "../../../styles.scss";

.shopping-list {
  input:checked + label {
    text-decoration: line-through;
  }

  & > ul {
    &:not(:last-of-type) {
      padding-bottom: 15px;
      border-bottom: 1px solid #dedede;
    }
    padding: 0;
    & > li {
      margin-bottom: 10px;
      font-size: 1.2rem;
    }
    & > div {
      display: flex;
      gap: 15px;
      width: 100%;
      img {
        width: 40%;
        height: auto;
        position: relative;
        left: 0;
        object-fit: contain;
        object-position: top;
      }
      & > .ing-list {
        display: flex;
        gap: 10px;
        flex-direction: column;
        width: 50vw;
        label,
        input {
          cursor: pointer;
        }
        & > li {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 5px;
          width: 100%;
          input{
            min-width: 1rem;
          }
          label {
            display: inline-block;
            flex-grow: 1;
          }
          &:hover {
            background-color: darken($color: antiquewhite, $amount: 5%);
            border-radius: 5px;
          }
        }
      }
    }
  }
  button {
    display: flex;
    margin: 30px auto;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #fcb86d;
    border: 1px solid #333;
    border-radius: 2px;
    &:hover {
      box-shadow: 0 0 5px #333;
      text-shadow: 0 0 1px #333;
    }
    &:disabled {
      cursor: not-allowed;
      &:hover {
        box-shadow: unset;
        text-shadow: unset;
      }
    }
  }
}
