<section class="shopping-list">
  <h1>Shopping List</h1>
  <ul *ngFor="let cocktail of shoppingList; let idxi = index">
    <li [routerLink]="['/cocktails', cocktail.id]">{{ cocktail.name }}</li>
    <div>
      <img [src]="cocktail.imgUrl" />
      <div class="ing-list">
        <li *ngFor="let ing of cocktail.ings; let idxj = index">
          <input
            type="checkbox"
            [id]="ing.ing"
            [checked]="ing.isChecked"
            (click)="onCheckBox($event, cocktail.id, idxi, idxj)"
          />
          <label [for]="ing.ing"> {{ ing.ing }}</label>
        </li>
      </div>
    </div>
  </ul>
  <button [disabled]="shoppingList.length === 0" (click)="updateList()">
    Update list
  </button>
</section>
