<section *ngIf="cocktail" class="cocktail-details">
  <div>
    <img src="{{ cocktail.imgUrl }}" />
  </div>
  <div class="cocktail-info">
    <div dir="auto">
      <h1 dir="auto">{{ cocktail.name }}</h1>
      <a routerLink="edit" routerLinkActive="active"><span title="Edit this cocktail recipe">Edit cocktail</span></a>
  </div>
    <p dir="auto" class="glass"><span></span>{{ cocktail.glass }}</p>
    <div class="ing">
      <span></span>
      <div>
        <button
          title="Add to shopping list"
          (click)="onAddToShopping($event)"
        ></button>
        <ingredient-preview
          *ngFor="let ing of cocktail.ingsList"
          [ing]="ing"
          (checkBoxClicked)="onCheckBoxClick($event)"
        ><pre>{{ing}}</pre></ingredient-preview>
      </div>
    </div>
    <div class="inst">
      <span></span>
      <p>{{ cocktail.ins }}</p>
    </div>
  </div>
</section>
