span{
    display: flex;
    align-items: center;
    margin: 5px 0;
    label, input{
        cursor: pointer;
    }
    label{
        display: flex;
        align-items: center;
        img{
            height: 2rem;
        }
    }
}
