@import '../../../styles.scss';

span {
    display: flex;
    align-items: center;
    margin: 5px 0;
    color: $mainClr;
    label,
    input {
      cursor: pointer;
    }
    label {
      display: flex;
      align-items: center;
      img {
        height: 2rem;
        transition: .2s;
        &:hover{
          transition: .2s;
          transform: scale(128%);
        }
      }
      &:first-of-type {
        width: calc(100% - 2.5rem);
      }
    }
  }
